$dark-400: #383838;
$primary-400: #062539;

:root {
    --header-height: 66px
}

.frame {
    background: #ffffff;
    //overflow: hidden;
    //height: 100vh;
    .frame_root {
        display: flex;
        height: inherit;

        .sidebar-root {
            position: fixed;
            left: 0;
            height: 100vh;
            background: #001624;

            li {
                color: white;
                display: flex;
                justify-content: center;
                padding: 14px 16px;

                img {
                    width: 28px;
                }
            }
        }
    }

    .top-bar {
        background: #ffffff;
        box-shadow: 0 2px 13px 0px #00000024;
        z-index: 1000;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 60px;
        //left: calc(100% - var(--header-height));
        width: calc(100% - 60px);

        ul {
            margin-bottom: 0 !important;
        }
    }

    .top-bar-space {
        height: var(--header-height);
    }

    .content-root {
        padding: 16px;

        .default_button {
            color: #d9d9d9 !important;

            h3 {
                color: inherit;
            }
        }
    }
}

.page-title {
    color: $dark-400;
    font-weight: 600;
}

.flex-right {
    justify-content: end;
    display: flex;
}

.custom-input {
    width: 100%;

    .ant-input-wrapper {
        border: 2px solid #856e6e;
        border-radius: 4px;

        input {
            border: none;
            outline: none !important;
            color: #808080;

            &::placeholder {
                color: inherit;
            }
        }

        .ant-input-group-addon {
            background: #062539;

            button {
                border: none
                //border-top-color: transparent;
            }
        }

    }

    &.ant-input {
        border: 1px solid rgba(190, 190, 190, 0.45);
        outline: none;
        border-radius: 4px;

        &:focus {
            outline: none;
        }
    }
}


.add-database-modal {
    .ant-modal-content {
        border-radius: 8px !important;
    }

    .add-db-form {
        //border: 1px solid rgba(6, 37, 57, 0.14);
        max-width: 500px;
        width: 0;
        opacity: 0;
        transition: width .4s ease, opacity 1s;
        box-sizing: border-box;
        @include getDown(768px) {
            max-width: 100%;
        }

        &.open {
            width: 100%;
            opacity: 1;
        }
    }
}

.card {
    box-shadow: 0 2px 11px 2px rgb(56 56 56 / 11%);
    border-radius: 4px;
    padding: 14px;
}

.flex-1 {
    flex: 1;
}

.list-keys {
    .data-type {
        //background: #2c65ec;
        //padding: 2px 10px;
        //border-radius: 4px;

    }

    .list-type {
        width: 100px;
        text-transform: uppercase;
        color: white;
    }

    .list-item {
        margin: 8px 0px;
        transition: all 0.3s ease;
        border-radius: 4px;
        padding: 8px 5px;
        cursor: pointer;;

        &:hover {
            background: $primary-400;
            color: white;
        }
    }
}

.my_select {
    border: 1px solid rgba(45, 45, 45, 0.41);
    padding: 8px 12px;
    border-radius: 6px;

    position: relative;
    cursor: pointer;

    .options {
        position: absolute;
        top: 35px;
        z-index: 1000;
        background: white;
        width: 100%;
        overflow-y: auto;
        left: 0;
        max-height: 400px;
        box-shadow: 0 2px 10px -3px rgba(70, 70, 70, 0.64);
        border-radius: 6px;

        li {
            padding: 10px;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                color: white;
                background: $primary-400;
            }
        ;
        }
    }
}

.badge-big {
    .ant-badge-status-dot {
        width: 10px;
        height: 10px;
    }
}


.http-response {
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 20px;

    &.error-message {
        background: rgba(229, 36, 36, 0.83);
        color: white;
    }

    &.success-message {
        background: #769ffc;
    }
}

.w-full {
    .ant-card-body {
        width: 100%;
    }
}

.list-value-table {
    //background: #fafafa;
    .row {
        padding: 6px 16px;

        &:not(:first-child){
            border-bottom: 1px solid rgba(31, 40, 61, 0.09);
        }

        label{
            width: 200px;
        }
        span {
            display: flex;
            width: 100%;

            svg{
                font-size: 16px;
            }
        }
    }

    .add-new{
        background: white !important;
        .action-ok-btn{
            right: 16px;
            bottom: -24px;
        }
    }

    .row-head{
        padding: 0 !important;
        column-gap: 0;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.19) !important;
        label{

            border: 1px solid rgba(6, 37, 57, 0.42);
            border-radius: 5px;
            margin: 0!important;
            padding: 8px 16px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        span{
            padding: 8px 16px;
            border: 1px solid rgba(6, 37, 57, 0.42);
            border-radius: 5px;
            border-left: none;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.login-form{
    max-width: 500px;
    margin: 100px auto;
    background: white;
    box-shadow: 0 2px 20px 2px rgba(114, 114, 114, 0.37);
    border-radius: 10px;
    padding: 20px;
    h1{
        text-align: center;
        font-size: 25px;
        font-weight: 800;
        color: #001624;
    }
}

