@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F8F8F8;
}

a {
  color: inherit;
  // color: white;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;

  @media (max-width: 1300px) {
    padding: 0 15px;
  }

  @media (max-width: 612px) {
    padding: 0;
  }
}

.antd_drawer {
  .ant-drawer-body {
    padding: 0 !important;
  }
}

.default_button {
  border: none;
  outline: none;
  background: $primary_color;
  color: white;
  padding: 7px 20px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s;
  cursor: pointer;

  &.btn_block {
    width: 100%;
  }

  &:hover {
    background: $primary_hover_color;
    color: white;
  }

  &:disabled,
  &[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }

  @media (max-width: 680px) {
    padding: 3px 10px;
    font-size: 15px;
  }
}

.default_button_outline {
  border: 1px solid $primary_color;
  outline: none;
  background: white;
  color: $primary_color;
  padding: 7px 20px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s;
  cursor: pointer;

  &.btn_block {
    width: 100%;
  }

  &:hover {
    background: $primary_color;
    color: white;
  }

  @media (max-width: 680px) {
    padding: 3px 10px;
    font-size: 15px;
  }
}

.item {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
}

.main_wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.d_flex {
  display: flex;

  &.d_center {
    justify-content: center;
    align-items: center;
  }

  &.d_between {
    justify-content: space-between;
    align-items: center;
  }
}

.d_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mx_10 {
  margin: 10px 0;
}

.ant-dropdown-link {
  display: inline-block !important;
  
  // @media screen and (max-width: 1300px) {
  //   font-size: 14px;
  // }
}



.dropdown_button {
  cursor: pointer;
  background: $user_bg;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;

  b {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: block;
  }
}

.elipse_150 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: block;
}
.elipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}



.filter {
  // background-color: #F0F0F0;
  background-color: #F3F2F8;
  display: flex;
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(172, 172, 172);

  @media (max-width: 492px) {
    padding: 5px;
  }

  .filter_input {
    font-size: 16px;
    background: transparent;
    border: none;
    width: 100%;
    padding: 5px 7px;

    &:hover,
    &:focus {
      outline: none;
    }
  }
}


.mention {
  background: #00800024;
  padding: 2px 3px;
  color: #008000f0;
  /* display: inline-block; */
  white-space: normal;
  a {
    color: #008000f0;
  }
}


.default_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f0f0f0;
  }
}



.gap-5{
  display: flex;
  align-items: center;
  gap: 5px;
}
.gap-10{
  display: flex;
  align-items: center;
  gap: 10px;
}
