$primary_color: #062539;
$primary_hover_color:#0b3d5f;

$font: 'Rubik', sans-serif;
$color-text: #555;
$shadow: 2px 9px 49px -17px rgba(0,0,0,0.3);
$box_shadow:1px 1px 5px rgba(0, 0, 0, 0.1);
$border_light:#e0e0e0;
$separator:#e6e8eb;
$dark_gray:#999999;
$light_gray_2:#5a6577;
$light_gray:#eee;
$focus:#0098c798;
$user_bg: #F3F2F8;
$focus_active: #36d766;

$bug:#CC293D;
$epic:#E06C00;
$feature:#773B93;
$issue:#B4009E;
$task:#A4880A;
$testCase:#004B50;
$userStory:#0098C7;


ul, li{
    list-style: none;
}